{% extends "base.html" %}
{% block content %}
{% load static %}
<br><br>
<h1 class="center"><b>The CIMS Appointments!</b></h1>
{% if user.is_authenticated %}
<section id="form">
    <div class="row center">
        <div class="row center">
            <div class="column">
                <br><br><br>
                <img src="{% static '/cim_users/left.png' %}" alt="left arrow image">
                <h2><a href="{% url 'cim_users:home' %}">Back to dashboard</a></h2>
                <br><br>
            </div>
            <div class="column">
                <br><br><br>
                <img src="{% static '/cim_users/her.png' %}" alt="Appointment image">
                <h2><a>TOTAL : {{ a_number }} </a></h2>
                <br><br>
            </div>
            <div class="column">
                <br><br><br>
                <img src="{% static '/cim_users/add.png' %}" alt="Appointment image" onclick="show('make_appointment')">
                <h2><a>Add </a></h2>
                <br><br>
                <div id="make_appointment" style="display:none;">
                    <form class="center form" method="POST" action="{% url 'cim_users:make_appointment' %}">
                        {% csrf_token %}
                        <div>
                            <h5>Select Doctor's Name</h5>
                            {% if d_data %}
                            <select class="form" name="doctor">
                                {% for d in d_data %}
                                <option value="{{ d.full_name }}">
                                    Dr. {{ d.full_name }} | {{ d.department }}
                                </option>
                                {% endfor %}
                            </select>
                            {% else %}
                            <small><b>No Doctor Available</b></small>
                            <input name="doctor" placeholder="Input Desired Doctor's Name" disabled>
                            {% endif %}
                        </div>
                        <div>
                            <div>
                                <input type="text" name="Patient_Name" placeholder="Patient Name" required>
                            </div>
                            <div>
                                <input type="text" name="time" placeholder="Time" required>
                            </div>
                        </div>
                        <input type="submit" value="Make Appointment">
                    </form>
                    <br>
                    <button class="submit" onclick="hide('make_appointment')">Close</button>
                    <br>
                </div>
            </div>
            <div class="column">
                <br><br><br>
                <img src="{% static '/cim_users/right.png' %}" alt="right arrow image">
                <h2><a href="{% url 'cim_users:diagnosis' %}">Next</a></h2>
                <br><br>
            </div>
        </div>
        <div class="row center">
            {% if a_data %}
            {% for a in a_data %}
            <div class="column">
                <br>
                <img src="{% static '/cim_users/doc.png' %}" alt="Patient image">
                <h2><a>{{ a.patient_name}}</a></h2>
                <h5><a>{{ a.doctor}}</a></h5>
                <h5><a>{{ a.time}}</a></h5>
                <button class="submit" onclick="show('update_{{ a.patient_name}}')">Update</button>
                <button class="submit" onclick="show('delete_{{ a.patient_name}}')">Delete</button>
                <br><br>
                <div id="update_{{ a.patient_name}}" style="display:none;">
                    <form class="center form" method="POST" action="{% url 'cim_users:update_appointment' %}">
                        {% csrf_token %}
                        <div>
                            <input type="hidden" value="{{a.id}}" name="Appointment_ID" placeholder="{{ a.id}}">
                        </div>
                        <div>
                            <input type="text" value="{{a.patient_name}}" name="Patient_Name"
                                placeholder="{{ a.patient_name}}" required>
                        </div>
                        <div>
                            <input type="text" value="{{a.doctor}}" name="doctor" placeholder="{{a.doctor}}" required>
                        </div>
                        <div>
                            <input type="text" value="{{a.time}}" name="time" placeholder="{{ a.time}}" required>
                        </div>
                        <input type="submit" value="Update Appointment">
                    </form>
                    <br>
                    <button class="submit" onclick="hide('update_{{ a.patient_name}}')">Close</button>
                    <br>
                </div>
                <br><br>
                <div id="delete_{{ a.patient_name}}" style="display:none;">
                    <form class="center form" method="POST" action="{% url 'cim_users:delete_appointment' %}">
                        {% csrf_token %}
                        <div>
                            <input type="text" style="display:none;" name="Patient_Name" value="{{a.patient_name}}"
                                placeholder="{{ a.patient_name}}">
                        </div>
                        <input type="submit" value="Delete Appointment" onclick="say('Comfirm deletion')">
                    </form>
                    <br>
                    <button class="submit" onclick="hide('delete_{{ a.patient_name}}')">Close</button>
                    <br>
                </div>
            </div>

            {% endfor %}
            {% else %}
            <div class="column">
                <br>
                <img src="{% static '/cim_users/doc.png' %}" alt="Patient image">
                <h2><a>NO APPOINTMENTS SCHEDULED</a></h2>
                <br><br>
            </div>
            {% endif %}
        </div>
</section>
{% else %}
<b>Not authorized</b>
{% endif %}
{% endblock %}