{% extends "base.html" %}
{% block content %}
{% load static %}
<br><br>
<h1 class="center"><b>The CIMS Appointments!</b></h1>
{% if user.is_authenticated %}
<section id="form">
    <div class="row center">
        <div class="row center">
            <div class="column">
                <br><br><br>
                <img src="{% static '/cim_users/left.png' %}" alt="left arrow image">
                <h2><a href="/home">Back to dashboard</a></h2>
                <br><br>
            </div>
            <div class="column">
                <br><br><br>
                <img src="{% static '/cim_users/her.png' %}" alt="Appointment image">
                <h2><a>TOTAL : {{ data_count }} </a></h2>
                <br><br>
            </div>
            <div class="column">
                <br><br><br>
                <img src="{% static '/cim_users/add.png' %}" alt="Appointment image" onclick="show('add_patient')">
                <h2><a>Add </a></h2>
                <br><br>
                <div id="add_patient" style="display:none;">
                    <form class="center form" method="POST" action="make_appointment/">
                        {% csrf_token %}
                        <div>
                            <input type="text" name="name" placeholder="Fullname" required>
                        </div>
                        <div>
                            <input type="text" name="doctor" placeholder="Specialist" required>
                        </div>
                        <div>
                            <input type="text" name="time" placeholder="Time" required>
                        </div>
                        <input type="submit" value="Make Appointment">
                    </form>
                </div>
            </div>
            <div class="column">
                <br><br><br>
                <img src="{% static '/cim_users/right.png' %}" alt="right arrow image">
                <h2><a href="/diagnosis">Next</a></h2>
                <br><br>
            </div>
        </div>
        <div class="row center">
            {% if p_data %}
            {% for p in p_data %}
            <div class="column">
                <br>
                <img src="{% static '/cim_users/doc.png' %}" alt="Patient image">
                <h2><a>{{ p.full_name}}</a></h2>
                <h5><a>{{ p.diagnosis}}</a></h5>
                <button class="submit">Update</button>
                <button class="submit">Delete</button>
                <br><br>
            </div>
            {% endfor %}
            {% else %}
            <div class="column">
                <br>
                <img src="{% static '/cim_users/doc.png' %}" alt="Patient image">
                <h2><a>NO APPOINTMENTS SCHEDULED</a></h2>
                <br><br>
            </div>
            {% endif %}
        </div>
</section>
{% else %}
<b>Not authorized</b>
{% endif %}
{% endblock %}