{% extends "base.html" %}
{% block content %}
{% load static %}
<br><br>
<h1 class="center"><b>The CIMS Diagnosis!</b></h1>
{% if user.is_authenticated %}
<section id="form">
    <div class="row center">
        <div class="column">
            <br><br><br>
            <img src="{% static '/cim_users/left.png' %}" alt="Arrow image">
            <h2><a href="{% url 'cim_users:home' %}">Back to dashboard</a></h2>
            <br><br>
        </div>
        <div class="column">
            <br><br><br>
            <img src="{% static '/cim_users/bio.png' %}" alt="Diagnosis image">
            <h2><a>TOTAL : {{ d_number }} </a></h2>
            <br><br>
        </div>
        <div class="column">
            <br><br><br>
            <img src="{% static '/cim_users/add.png' %}" alt="Diagnosis image" onclick="show('add_diagnosis')">
            <h2><a>Add </a></h2>
            <br><br>
            <div id="add_diagnosis" style="display:none;">
                <form class="center form" method="POST" action="{% url 'cim_users:add_diagnosis' %}">
                    {% csrf_token %}
                    <div>
                        <input type="text" name="Patient_Name" placeholder="Patient Name" required>
                    </div>
                    <div>
                        <input type="text" name="test_name" placeholder="Test Name" required>
                    </div>
                    <div>
                        <input type="text" name="diagnosis" placeholder="Diagnosis" required>
                    </div>
                    <input type="submit" value="Add Diagnosis">
                </form>
                <br>
                <button class="submit" onclick="hide('add_diagnosis')">Close</button>
                <br>
            </div>
        </div>
        <div class="column">
            <br><br><br>
            <img src="{% static '/cim_users/right.png' %}" alt="right arrow image">
            <h2><a href="{% url 'cim_users:treatment' %}">Next</a></h2>
            <br><br>
        </div>
    </div>
    <div class="row center">
        {% if d_data %}
        {% for d in d_data %}
        <div class="column">
            <br>
            <img src="{% static '/cim_users/doc.png' %}" alt="Patient image">
            <h2><a>{{ d.patient_name}}</a></h2>
            <h5><a>{{ d.test_name}}</a></h5>
            <h5><a>{{ d.diagnosis}}</a></h5>
            <button class="submit" onclick="show('update_{{ d.patient_name}}')">Update</button>
            <button class="submit" onclick="show('delete_{{ d.patient_name}}')">Delete</button>
            <br><br>
            <div id="update_{{ d.patient_name}}" style="display:none;">
                <form class="center form" method="POST" action="{% url 'cim_users:update_diagnosis' %}">
                    {% csrf_token %}
                    <div>
                        <input type="hidden" value="{{d.id}}" name="Diagnosis_ID" placeholder="{{ d.id}}">
                    </div>
                    <div>
                        <input type="text" value="{{d.patient_name}}" name="Patient_Name"
                            placeholder="{{ d.patient_name}}" required>
                    </div>
                    <div>
                        <input type="text" value="{{d.test_name}}" name="test_name" placeholder="{{d.test_name}}"
                            required>
                    </div>
                    <div>
                        <input type="text" value="{{d.diagnosis}}" name="diagnosis" placeholder="{{ d.diagnosis}}"
                            required>
                    </div>
                    <input type="submit" value="Update Diagnosis">
                </form>
                <br>
                <button class="submit" onclick="hide('update_{{ d.patient_name}}')">Close</button>
                <br>
            </div>
            <br><br>
            <div id="delete_{{ d.patient_name}}" style="display:none;">
                <form class="center form" method="POST" action="{% url 'cim_users:delete_diagnosis' %}">
                    {% csrf_token %}
                    <div>
                        <input type="text" style="display:none;" name="Patient_Name" value="{{d.patient_name}}"
                            placeholder="{{ d.patient_name}}">
                    </div>
                    <input type="submit" value="Delete Diagnosis" onclick="say('Comfirm deletion')">
                </form>
                <br>
                <button class="submit" onclick="hide('delete_{{ d.patient_name}}')">Close</button>
                <br>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <div class="column">
            <br>
            <img src="{% static '/cim_users/doc.png' %}" alt="Patient image">
            <h2><a>NO DIAGNOSIS YET</a></h2>
            <br><br>
        </div>
        {% endif %}
    </div>
</section>
{% else %}
<b>Not authorized</b>
{% endif %}
<style scoped>
    #services_btn {
        color: white;
    }
</style>
{% endblock %}