{% extends "base.html" %}
{% block content %}
{% load static %}
<br><br>
{% if user.is_authenticated %}
<section id="form">
    <div class="row center">
        <div class="column">
            <br><br>
            <img src="{% static '/cim_users/patient.png' %}" alt="Patient image">
            <h2><a>Patient</a></h2>
            <p>Interaction & Records</p>
            <br><br>
        </div>

        <div class="column">
            <br><br>
            <img src="{% static '/cim_users/diagnosis.png' %}" alt="Diagnosis image">
            <h2><a>Diagnosis</a></h2>
            <p>Information</p>
            <br><br>
        </div>

        <div class="column">
            <br><br>
            <img src="{% static '/cim_users/medicine.png' %}" alt="Medicine image">
            <h2><a>Medication</a></h2>
            <p>Stock Management</p>
            <br><br>
        </div>

        <div class="column">
            <br><br>
            <img src="{% static '/cim_users/appointment.png' %}" alt="Appointment image">
            <h2><a>Appointments</a></h2>
            <p>Creation & Monitoring</p>
            <br><br>
        </div>
    </div>
</section>
<style type="text/css">
    #logo {
        color: white;
    }

    #home_btn {
        color: white;
    }
</style>
{% else %}
<h1 class="center"><b>Welcome to CIMS !</b></h1>
<section id="form">

    <div>
        <h2>
            A one stop point for clinical management information
        </h2>
        <br>
        <p>
            A web based clinic mangement system that has inbuilt
            features out of the box for simplified and insightful
            clinic management.
            Some of the features include;
        </p>
    </div>
    <br>
    <div class="row center">
        <div class="column">
            <br><br>
            <img src="{% static '/cim_users/record.png' %}" alt="Patient image">
            <h2><a>Patient</a></h2>
            <p>Records</p>
            <br><br>
        </div>

        <div class="column">
            <br><br>
            <img src="{% static '/cim_users/prognosis.png' %}" alt="Diagnosis image">
            <h2><a>Diagnosis</a></h2>
            <p>Information</p>
            <br><br>
        </div>

        <div class="column">
            <br><br>
            <img src="{% static '/cim_users/drug.png' %}" alt="Medicine image">
            <h2><a>Medication</a></h2>
            <p>Stock Management</p>
            <br><br>
        </div>

        <div class="column">
            <br><br>
            <img src="{% static '/cim_users/nurse.png' %}" alt="Appointment image">
            <h2><a>Appointments</a></h2>
            <p>Creation & Monitoring</p>
            <br><br>
        </div>
    </div>
</section>
<style type="text/css">
    #logo {
        color: white;
    }
</style>
{% endif %}
{% endblock %}