{% extends "base.html" %}
{% block content %}
{% load static %}
<br><br>
<h1 class="center"><b>The CIMS Patients!</b></h1>
{% if user.is_authenticated %}
<section id="form">
    <div class="row center">
        <div class="column">
            <br><br><br>
            <img src="{% static '/cim_users/left.png' %}" alt="Arrow image">
            <h2><a href="/home">Back to dashboard</a></h2>
            <br><br>
        </div>
        <div class="column">
            <br><br><br>
            <img src="{% static '/cim_users/check.png' %}" alt="Appointment image">
            <h2><a>TOTAL : 0 </a></h2>
            <br><br>
        </div>
        <div class="column">
            <br><br><br>
            <img src="{% static '/cim_users/add.png' %}" alt="Appointment image" onclick="show('add_patient')">
            <h2><a>Add </a></h2>
            <br><br>
            <div id="add_patient" style="display:none;">
                <form class="center form" method="POST" enctype="multipart/form-data" action="#">
                    {% csrf_token %}
                    <div>
                        <input type="text" name="Patient Name" placeholder="Fullname" required>
                    </div>
                    <div>
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div>
                        <input type="number" name="age" placeholder="Age" required>
                    </div>
                    <div>
                        <input type="text" name="password" placeholder="Aailment" required>
                    </div>
                    <button class="submit" type="submit">Add</button>
                </form>
            </div>
        </div>
        <div class="column">
            <br><br><br>
            <img src="{% static '/cim_users/right.png' %}" alt="right arrow image">
            <h2><a href="/appointments">Next</a></h2>
            <br><br>
        </div>
    </div>
    <div class="row center">
        <div class="column">
            <br>
            <img src="{% static '/cim_users/doc.png' %}" alt="Patient image">
            <h2><a>Opio Peter</a></h2>
            <button>Status : Waiting</button>
            <br><br>
            <button>Update</button>
            <button>Delete</button>
            <br><br>
        </div>
    </div>
</section>
{% else %}
<b>Not authorized</b>
{% endif %}
{% endblock %}