{% extends "base.html" %}
{% block content %}
{% load static %}
<br><br>
<h1 class="center"><b>The CIMS Pharmacy !</b></h1>
{% if user.is_authenticated %}
<section id="form">
    <div class="row center">
        <div class="column">
            <br><br><br>
            <img src="{% static '/cim_users/left.png' %}" alt="Arrow image">
            <h2><a href="{% url 'cim_users:home' %}">Back to dashboard</a></h2>
            <br><br>
        </div>
        <div class="column">
            <br><br><br>
            <img src="{% static '/cim_users/drug.png' %}" alt="drug image">
            <h2><a>TOTAL : {{ number }} </a></h2>
            <br><br>
        </div>
        <div class="column">
            <br><br><br>
            <img src="{% static '/cim_users/add.png' %}" alt="Appointment image" onclick="show('add_treatment')">
            <h2><a>Add </a></h2>
            <br><br>
            <div id="add_treatment" style="display:none;">
                <form class="center form" method="POST" action="{% url 'cim_users:add_treatment' %}">
                    {% csrf_token %}
                    <div>
                        <input type="text" name="Patient_Name" placeholder="Patient Name" required>
                    </div>
                    <div>
                        <input type="text" name="medicine" placeholder="Medication" required>
                    </div>
                    <div>
                        <input type="text" name="stock" placeholder="Stock" required>
                    </div>
                    <input type="submit" value="Issue prescription">
                </form>
                <br>
                <button class="submit" onclick="hide('add_treatment')">Close</button>
                <br>
            </div>
        </div>
        <div class="column">
            <br><br><br>
            <img src="{% static '/cim_users/right.png' %}" alt=" right Arrow image">
            <h2><a href="{% url 'cim_users:patients' %}">Next</a></h2>
            <br><br>
        </div>
    </div>
    <div class="row center">
        {% if med_data %}
        {% for m in med_data %}
        <div class="column">
            <br>
            <img src="{% static '/cim_users/drug.png' %}" alt="Patient image">
            <h2><a>{{ m.prescribed_to}}</a></h2>
            <h5><a>{{ m.drug_name}}</a></h5>
            <h5><a>{{ m.stock }}</a></h5>
            <button class="submit" onclick="show('update_{{ m.prescribed_to}}')">Update</button>
            <button class="submit" onclick="show('delete_{{ m.prescribed_to}}')">Delete</button>
            <br><br>
            <div id="update_{{ m.prescribed_to}}" style="display:none;">
                <form class="center form" method="POST" action="{% url 'cim_users:update_treatment' %}">
                    {% csrf_token %}
                    <div>
                        <input type="hidden" value="{{m.id}}" name="Treatment_ID" placeholder="{{ m.id}}">
                    </div>
                    <div>
                        <input type="text" value="{{m.prescribed_to}}" name="Patient_Name"
                            placeholder="{{ m.prescribed_to}}" required>
                    </div>
                    <div>
                        <input type="text" value="{{m.drug_name}}" name="medicine" placeholder="{{m.drug_name}}"
                            required>
                    </div>
                    <div>
                        <input type="text" value="{{m.stock}}" name="stock" placeholder="{{ m.stock}}" required>
                    </div>
                    <input type="submit" value="Update Prescription">
                </form>
                <br>
                <button class="submit" onclick="hide('update_{{ m.prescribed_to}}')">Close</button>
                <br>
            </div>
            <br><br>
            <div id="delete_{{ m.prescribed_to}}" style="display:none;">
                <form class="center form" method="POST" action="{% url 'cim_users:delete_treatment' %}">
                    {% csrf_token %}
                    <div>
                        <input type="text" style="display:none;" name="Patient_Name" value="{{m.prescribed_to}}"
                            placeholder="{{ m.prescribed_to}}">
                    </div>
                    <input type="submit" value="Delete Prescription" onclick="say('Comfirm deletion')">
                </form>
                <br>
                <button class="submit" onclick="hide('delete_{{ m.prescribed_to}}')">Close</button>
                <br>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="column">
            <br>
            <img src="{% static '/cim_users/drug.png' %}" alt="Patient image">
            <h2><a>NO PRESCRIPTION YET</a></h2>
            <br><br>
        </div>
        {% endif %}
    </div>
</section>
{% else %}
<b>Not authorized</b>
{% endif %}
<style type="text/css">
    #services_btn {
        color: white;
    }
</style>
{% endblock %}