{% extends "django-cims/cim_users/templates/cim_users/base.html" %}
{% block content %}
<br><br>
<section id="form">
    <div>
        <form class="center" method="POST" enctype="multipart/form-data" action="/login_user">
            {% csrf_token %}
            <div>
                <label>Username</label><br>
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div>
                <label>Password</label><br>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button class="submit" type="submit">LOGIN</button>
            <a href="/create_user_page">Register</a>
        </form>
    </div>
</section>
<style type="text/css">
    #login_btn {
        color: white;
    }
</style>
{% endblock %}